<h>독보소</h>
<form action='home/attack' method='get'>
    가해자 : <input type="string" name="attacker"><br>
    피해자 : <input type="string" name="person"> <br>
    <input type="submit" value="제출">
    
</form>